        
html{
  height:100%; 
}
body {
  font-family: verdana;
  background-color: #ABC;
  padding: 0px;
  height:100%;
  background-color:blue;
  display: flex;
  align-items: center; /*sets entire calc in vertical middle*/
  justify-content:center; /*sets entire calc in horizontal middle*/
}
#calculator{
  height:70%;
  width:35%;
  display:flex;
  flex-direction:column;/*sets items vertical*/
  
}

div{
  box-sizing: border-box; /*makes border part of dimension calcs*/
/*   Must be done on all elements, as children/grandchildren have borders */
}
.display{
  padding:0 15px;/*pushes result to the right of screen a bit*/
  border: 1px solid SlateGrey;
  border-radius: 20px 20px 0 0;/*curve on top corners*/
  display:flex;
  font-size:20pt;
  width:100%;
  min-height:20%;
  text-align:right;
  background-color:black;
  color:white;/*text color*/
  flex-direction: row-reverse;
  display:flex;
  align-items:center;
}

.operation {
  
  display:flex;
  width:100%;
  height:20%;
}
.operation > div {
  border: 1px solid SlateGrey;
  background-color:thistle;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
  
}
.buttons{
  display:flex;
  min-height:60%;
  width:100%;
}

.innerbuttons {
  width:75%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap; /*this with the children as 33.3% width makes for 3 columns*/
}

.innerbuttons > div {
  background-color:white;
  border: 1px solid SlateGrey;
  width: 33.3%;
  display:flex;
  align-items:center;
  justify-content:center;
}
#button0{
  border: 1px solid SlateGrey;
  border-radius: 0 0 0 20px;
}
.equalsbutton {
  font-size:20pt;
  display:flex;
  justify-content:center;
  align-items:center;
  width:25%;
  background-color:orange;
  border: 1px solid SlateGrey;
  border-radius: 0 0 20px 0;
}